.inputFieldStudent {
    min-height: 40px;
    min-width: 260px;
    color: black;
    background: transparent;
    border: none;
    border-bottom-style: solid;
    border-bottom-color: lightblue;
    margin-bottom: $m-size;
}


.loginFormStudent {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 20%;
	margin-top: 5rem;
   
}

