.header {
	display: flex;
	justify-content: flex-start;
	background: rgb(2, 0, 36);
	background: linear-gradient(
		90deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(9, 9, 121, 1) 35%,
		rgba(0, 212, 255, 1) 100%
	);
}

.header__link {
	text-decoration: none;
	padding: 0 $s-size 0 $s-size;
	color: $secondary;
}

.header__link:hover {
	padding: 0 $s-size 0 $s-size;
	color: $third;
}

.header__is-active {
	color: $primary;
}
