.header {
	max-width: 100%;
	display: flex;
	justify-content: space-evenly;
	background: rgb(2, 0, 36);
	background: linear-gradient(
		90deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(9, 9, 121, 1) 35%,
		rgba(0, 212, 255, 1) 100%
	);
}

.header__link {
	text-decoration: none;
	padding: 2rem;
	color: $secondary;
}

.header__link:hover {
	
	color: $third;
}

.header__is-active {
	color: $primary;
}



@media (min-width: $desktop-breakpoint){
	.header{
	  max-width: 100%;
	}
  }