.homePage_header {
	text-align: center;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	background: rgb(2, 0, 36);
	background: linear-gradient(
		90deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(9, 9, 121, 1) 35%,
		rgba(0, 212, 255, 1) 100%
	);
}

.homePage__title {
	padding: $s-size $s-size 0 $s-size;
	color: white;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.homePage__subtitle {
	padding: 0 0 $m-size 0;
	color: white;
}

.card {
	display: flex;
	justify-content: space-evenly;
	margin: $s-size;
}

.homePage__textBody {
    border-top-right-radius: 2rem;
	border-bottom-right-radius: 2rem;
	width: 95%;
	background-color: white;
}
.homePage__text {
	padding: 0 $l-size $l-size $l-size;
}
.homePage__textTitle {
	padding: $l-size 0 $s-size 0;
	text-align: center;
	color: $primary;
}
