#studentProfileWrapper {
	display: flex;
	justify-content: left;
}

#studentInfo {
	max-width: 15rem;
	margin: $xl-size $l-size 0 $xl-size;
	display: flex;
	flex-direction: column;
	align-items: baseline;
}

#profileTips {
	padding: 5px;
	border-radius: 5px;
	background-color: lightblue;
}

#noteInfo {
	margin: $l-size $l-size 0 $xl-size;
	display: flex;
	flex-direction: column;
	align-content: left;
}

#noteInfoH3 {
	margin-top: 10rem;
}

#studentProfileName {
	font-size: 3.5rem;
	font-weight: bold;
}

#studentProfileButtons {
	display: flex;
	flex-direction: column;
}

.noteListItem {
	border: none;
	border-bottom-style: solid;
	border-bottom-color: lightblue;
	margin: $xl-size $xl-size $xl-size 0;
}

.noteListItemH3 {
	color: white;
	padding: 5px;
	border-radius: 5px;
	background-color: gray;
}

#fileInput {
	max-width: 200px;
	cursor: pointer;
}

#filesUploaded {
	display: flex;
	flex-direction: column-reverse;
}

.filesUplaodedLI {
	text-align: left;
	margin: $s-size;
}

.hideUploads {
	text-align: center;
}

#removeNoteButton {
	text-align: center;
}

@media (max-width: $desktop-breakpoint) {
	#studentProfileWrapper {
		flex-direction: column;
	}
}
