#profileBody {
	display: flex;
}

#studentInfo {
	max-width: 15rem;
	margin: $xl-size $l-size 0 $xl-size;
	display: flex;
	flex-direction: column;
	align-items: baseline;
}

.profileTips {
	padding: 5px;
	border-radius: 5px;
	background-color: lightblue;
}

#noteInfo {
	margin: $l-size $l-size 0 $xl-size;
	display: flex;
	flex-direction: column;
	align-content: left;
}

#noteInfoH3 {
	margin-top: 10rem;
}


#profileBanner {
	color: white;
	background: rgb(0, 0, 0);
	background: linear-gradient(
		90deg,
		rgba(0, 0, 0, 1) 0%,
		rgba(4, 4, 58, 1) 100%,
		rgba(0, 212, 255, 1) 100%
	);
	display: flex;
	flex-direction: row;
	max-width: 100%;
	padding: $xl-size $l-size $l-size $l-size;
}

#studentProfileName {
	font-size: 3.5rem;
	font-weight: bold;
	margin: 3rem 3rem 2rem 2rem;
	max-width: 50%;

}

#studentProfileButtons {
	display: flex;
	flex-direction: column;
}

.noteListItem {
	border: none;
	border-bottom-style: solid;
	border-bottom-color: lightblue;
	margin: $xl-size $xl-size $xl-size 0;
}

.noteListItemH3 {
	color: white;
	padding: 5px;
	border-radius: 5px;
	background-color: gray;
}

#fileInput {
	max-width: 200px;
	cursor: pointer;
}

#filesUploaded {
	display: flex;
	justify-content: left;
	flex-direction: column-reverse;
}

.filesUplaodedLI {
	text-align: left;
	margin: $s-size $m-size 0 0;
}

.hideUploads {
	text-align: left;
}

#removeNoteButton {
	text-align: center;
}

#profileWelcome {
	margin-left: $m-size;
	padding: 2rem $s-size 2rem $s-size;
	text-align: center;
	background-color: indianred;
	border-radius: 5px;
	color: white;
	max-width: 200rem;
}

@media (max-width: $desktop-breakpoint) {
	#studentProfileWrapper {
		flex-direction: column;
	}
	#profileBanner {
		
		flex-direction: column;
		padding: $l-size $l-size $l-size $l-size;
	}
	#profileBody{
		flex-direction: column;
	}
	#studentInfo {
		margin: 10px 10% 10px 10%;
		max-width: 50rem;
	}
	#studentProfileButtons {
		flex-direction: row;
	}
}
