html {
    font-size: 62.5%;
}

body {
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: $m-size;
}

.button {
    cursor: pointer;
    

    margin: $s-size;
    text-align: center;
    width: 100px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    height: 40px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

button:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

button:disabled {
    cursor: default;
}

.button_text {
    text-decoration: none;
}
